{% extends 'Emails/base.html.twig' %}
{% import "Emails/Macros/elements.html.twig" as el %}

{% block title %}Bouts de fiSEL - Réinitialisation de votre mot de passe{% endblock %}

{% block preHeaderText %}{% endblock %}

{% block content %}
    {{ el.oneColumnA() }}
    <h1>Réinitialisation de votre mot de passe</h1>

    <p>Bonjour {{ user.username }} !</p>

    <p>Vous avez demandé la réinitialisation de votre mot de passe. En cliquant sur le bouton ci-dessous, vous aurez la possibilité d'en définir un nouveau.</p>

    {{ el.button("Réinitialiser mon mot de passe", confirmationUrl) }}
    {{ el.oneColumnB() }}
{% endblock %}
