{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}

{% block header %}
    <header class="page-header angle-intro">
        <div class="wrapper">
            {{ icons.iconLink('rss', 'S\'abonner au flux RSS', path('feed'), 'btn right') }}
            <h1>Bouts de fi<strong>SEL</strong><br /><small>Le Système d'&Eacute;change Local de la région d'Ath.</small></h1>
        </div>
    </header>
{% endblock %}

{% block body %}
    {% if not user %}
        {% include 'default/intro_text.html.twig' %}
    {% endif %}

    <section class="service-list exchange-list">
        <div class="wrapper">
            <h2>La vie du SEL{% if user %} (Depuis votre dernière visite){% endif %}</h2>
            {% if is_granted('ROLE_USER') %}
            <div class="alert alert-danger text-center" role="alert">
                <p><strong>Accès à l'ancien site</strong> : Vous pouvez consulter la liste de vos offres et demandes sur l'ancien site à l'adresse <a href="http://retro.boutsdefisel.be">retro.boutsdefisel.be</a></p>
                <p>Il est à présent impossible d'y introduire ou d'y modifier du contenu.</p>
            </div>
            {% endif %}
            {% if flash_services is empty and journal is empty %}
                {% include 'default/nothing_to_show.html.twig' %}
            {% else %}
            <div class="grid masonry service-list">
                {% for service in flash_services %}
                    {% include 'SelServiceBundle::serviceItem.html.twig' with {'service': service} %}
                {% endfor %}
                {% for item in journal %}
                    {% if item.getEntityName == 'Service' %}
                        {% include 'SelServiceBundle::serviceItem.html.twig' with {'service': item} %}
                    {% endif %}
                    {% if item.getEntityName == 'Exchange' %}
                        {% include 'SelExchangeBundle::exchangeItem.html.twig' with {'exchange': item} %}
                    {% endif %}
                    {% if item.getEntityName == 'User' %}
                        {% include 'default/userItem.html.twig' with {'user': item} %}
                    {% endif %}
                    {% if item.getEntityName == 'Article' %}
                        {% include 'default/articleItem.html.twig' with {'article': item} %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
