{% extends 'base.html.twig' %}

{% block header %}
    <header class="page-header angle-intro">
        <div class="wrapper">
            <h1>Bouts de fi<strong>SEL</strong><br />
                <small>Le Système d'&Eacute;change Local de la région d'Ath</small></h1>

        </div>
    </header>
{% endblock %}

{% block body %}
    {% if not user %}
    <section>
        <div class="wrapper">
            <header class="grid-item-3-4 grid-item-center text-center">
                <h1 class="headline super hairline">Qu'est-ce qu'un SEL ?</h1>
                <p>Un SEL est un Système d'&Eacute;change Local, un groupe de personnes qui pratiquent l'échange de services, de savoirs et de biens au moyen d'une unité d'échange choisie par ses membres. Il ambitionne de redonner à la vie de nos villages et quartiers une dimension solidaire et conviviale.</p>
            </header>

            <div class="grid-item-3-4 grid-item-center text-center">
                <p>Si le sujet vous intéresse et vous souhaitez en savoir plus, <a href="/le-sel-athois">toutes les infos se trouvent ici</a>. Vous pouvez également <a href="http://www.questionsante.org/education-permanente/nos-outils/par-collection/liens-sociaux/les-systemes-d-echange-local-une-source-de-bien-etre?highlight=WyJzZWwiLCJzZWxsZXMiLCJzZWxzIl0=">consulter la brochure éditée par la Communauté française</a></p>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="service-list exchange-list">
        <div class="wrapper">
            <h2>La vie du SEL{% if user %} (Depuis votre dernière visite){% endif %}</h2>
            {% if flash_services is empty and journal is empty %}
                <p class="lead text-center">On dirait que c'est le calme plat depuis votre dernière connexion :'(</p>
            {% else %}
            <div class="grid masonry">
                {% for service in flash_services %}
                    {% include 'service/serviceItem.html.twig' with {'service': service} %}
                {% endfor %}
                {% for item in journal %}
                    {% if item.getEntityName == 'Service' %}
                        {% include 'service/serviceItem.html.twig' with {'service': item} %}
                    {% endif %}
                    {% if item.getEntityName == 'Exchange' %}
                        {% include 'SelExchangeBundle::exchangeItem.html.twig' with {'exchange': item} %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
