<section>
    <div class="wrapper">
        <header class="grid-item-3-4 grid-item-center text-center">
            <h1 class="headline super hairline">Qu'est-ce qu'un SEL ?</h1>
            <p>Un SEL est un Système d'&Eacute;change Local, un groupe de personnes qui pratiquent l'échange de services, de savoirs et de biens au moyen d'une unité d'échange choisie par ses membres. Il ambitionne de redonner à la vie de nos villages et quartiers une dimension solidaire et conviviale.</p>
        </header>

        <div class="grid-item-3-4 grid-item-center text-center">
            <p>Si le sujet vous intéresse et vous souhaitez en savoir plus, <a href="/le-sel-athois">toutes les infos se trouvent ici</a>. Vous pouvez également <a href="http://www.questionsante.org/education-permanente/nos-outils/par-collection/liens-sociaux/les-systemes-d-echange-local-une-source-de-bien-etre?highlight=WyJzZWwiLCJzZWxsZXMiLCJzZWxzIl0=">consulter la brochure éditée par la Communauté française</a></p>
        </div>
    </div>
</section>