{% extends 'base.html.twig' %}

{% block header %}
    <header class="page-header angle-intro angle-reverse">
        <div class="wrapper">
            <h1>Contactez-nous</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section>
        <div class="wrapper">
            <p>Cette page a besoin de contenu:</p>

            <ul>
                <li>Un formulaire de contact</li>
                <li>Les infos sur la manière dont on s'inscrit</li>
                <li>Les scéances d'info</li>
                <li>...</li>
            </ul>
        </div>
    </section>
{% endblock %}