/** **************************************************************************
    AXA FAST - Typography Base
    ************************************************************************** */

/**
 *  Local variables
 **/
$FAST-Typography-header-font-family: $FAST-heading-font-family !default;
$FAST-Typography-header-font-weight: $FAST-Global-weight-normal !default;
$FAST-Typography-header-font-style: normal !default;
$FAST-Typography-header-color: inherit !default;
$FAST-Typography-header-lineheight: 1.4 !default;
$FAST-Typography-header-margin-bottom: 0.5rem !default;
$FAST-Typography-header-text-rendering: optimizeLegibility !default;
$FAST-Typography-header-small-font-color: $FAST-Color-medium-gray !default;
$FAST-Typography-header-sizes: (
    small: (
        'h1': 24,
        'h2': 20,
        'h3': 19,
        'h4': 18,
        'h5': 17,
        'h6': 16,
    ),
    medium: (
        'h1': 40,
        'h2': 32,
        'h3': 28,
        'h4': 24,
        'h5': 18,
        'h6': 16,
    ),
) !default;

$FAST-Typography-h1-color: $FAST-Color-secondary !default;
$FAST-Typography-h1-weight: 300 !default;
$FAST-Typography-h2-weight: 300 !default;

$FAST-Typography-font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace !default;
$FAST-Typography-small-font-size: 80% !default;

$FAST-Typography-paragraph-lineheight: 1.6 !default;
$FAST-Typography-paragraph-margin-bottom: 1rem !default;
$FAST-Typography-paragraph-text-rendering: optimizeLegibility !default;

$FAST-Typography-code-color: $FAST-Color-Type-Dark !default;
$FAST-Typography-code-font-family: $FAST-Typography-font-family-monospace !default;
$FAST-Typography-code-font-weight: $FAST-Global-weight-normal !default;
$FAST-Typography-code-background: $FAST-Color-light-gray !default;
$FAST-Typography-code-border: 1px solid $FAST-Color-medium-gray !default;
$FAST-Typography-code-padding: FAST-rem-calc(2 5 1) !default;

$FAST-Typography-anchor-color: $FAST-Color-primary !default;
$FAST-Typography-anchor-color-hover: scale-color($FAST-Typography-anchor-color, $lightness: -14%) !default;
$FAST-Typography-anchor-text-decoration: none !default;
$FAST-Typography-anchor-text-decoration-hover: none !default;

$FAST-Typography-hr-width: $FAST-width !default;
$FAST-Typography-hr-border: 1px solid $FAST-Color-medium-gray !default;
$FAST-Typography-hr-margin: FAST-rem-calc(20) auto !default;

$FAST-Typography-list-lineheight: $FAST-Typography-paragraph-lineheight !default;
$FAST-Typography-list-margin-bottom: $FAST-Typography-paragraph-margin-bottom !default;
$FAST-Typography-list-style-type: disc !default;
$FAST-Typography-list-style-position: outside !default;
$FAST-Typography-list-side-margin: 1.25rem !default;
$FAST-Typography-list-nested-side-margin: 1.25rem !default;

$FAST-Typography-defnlist-margin-bottom: 1rem !default;
$FAST-Typography-defnlist-term-weight: $FAST-Global-weight-bold !default;
$FAST-Typography-defnlist-term-margin-bottom: 0.3rem !default;

$FAST-Typography-blockquote-color: $FAST-Color-dark-gray !default;
$FAST-Typography-blockquote-padding: FAST-rem-calc(9 20 0 19) !default;
$FAST-Typography-blockquote-border: 1px solid $FAST-Color-medium-gray !default;

$FAST-Typography-cite-font-size: FAST-rem-calc(13) !default;
$FAST-Typography-cite-color: $FAST-Color-dark-gray !default;

$FAST-Typography-keystroke-font: $FAST-Typography-font-family-monospace !default;
$FAST-Typography-keystroke-color: $FAST-Color-Type-Dark !default;
$FAST-Typography-keystroke-background: $FAST-Color-light-gray !default;
$FAST-Typography-keystroke-padding: FAST-rem-calc(2 4 0) !default;
$FAST-Typography-keystroke-radius: $FAST-Global-radius !default;

$FAST-Typography-abbr-underline: 1px dotted $FAST-Color-black !default;


/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin FAST-Typography-Base() {
    // Typography resets
    div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
        margin: 0;
        padding: 0;
    }

    p {
        font-size: inherit;
        line-height: $FAST-Typography-paragraph-lineheight;
        margin-bottom: $FAST-Typography-paragraph-margin-bottom;
        text-rendering: $FAST-Typography-paragraph-text-rendering;
    }

    em, i {
        font-style: italic;
        line-height: inherit;
    }

    strong, b {
        font-weight: $FAST-Global-weight-bold;
        line-height: inherit;
    }

    small {
        font-size: $FAST-Typography-small-font-size;
        line-height: inherit;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $FAST-Typography-header-font-family;
        font-weight: $FAST-Typography-header-font-weight;
        font-style: $FAST-Typography-header-font-style;
        color: $FAST-Typography-header-color;
        text-rendering: $FAST-Typography-header-text-rendering;
        margin-top: 0;
        margin-bottom: $FAST-Typography-header-margin-bottom;
        line-height: $FAST-Typography-header-lineheight;

        small {
            color: $FAST-Typography-header-small-font-color;
            line-height: 0;
        }
    }

    @each $size, $headers in $FAST-Typography-header-sizes {
        @include FAST-breakpoint($size) {
            @each $header, $font-size in $headers {
                #{$header} {
                    font-size: FAST-rem-calc($font-size);
                }
            }
        }
    }

    h1 {
        color: $FAST-Typography-h1-color;
        font-weight: $FAST-Typography-h1-weight;
        margin-bottom: $FAST-lineheight * 1rem;
    }

    h2 {
        font-weight: $FAST-Typography-h2-weight;
        margin-bottom: $FAST-lineheight * 1rem;
    }

    a {
        color: $FAST-Typography-anchor-color;
        text-decoration: $FAST-Typography-anchor-text-decoration;
        line-height: inherit;
        cursor: pointer;
        transition: all $FAST-Global-transition-time;

        &:hover, &:focus {
            color: $FAST-Typography-anchor-color-hover;
            @if $FAST-Typography-anchor-text-decoration-hover != $FAST-Typography-anchor-text-decoration {
                text-decoration: $FAST-Typography-anchor-text-decoration-hover;
            }
        }

        img {
            border: 0;
        }
    }

    hr {
        max-width: $FAST-Typography-hr-width;
        height: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: $FAST-Typography-hr-border;
        border-left: 0;
        margin: $FAST-Typography-hr-margin;
        clear: both;
    }

    ul, ol, dl {
        line-height: $FAST-Typography-list-lineheight;
        margin-bottom: $FAST-Typography-list-margin-bottom;
        list-style-position: $FAST-Typography-list-style-position;
    }

    li {
        font-size: inherit;
    }

    ul {
        list-style-type: $FAST-Typography-list-style-type;
        margin-left: $FAST-Typography-list-side-margin;
    }

    ol {
        margin-left: $FAST-Typography-list-side-margin;
    }

    ul, ol {
        & & {
            margin-left: $FAST-Typography-list-nested-side-margin;
            margin-bottom: 0;
        }
    }

    dl {
        margin-bottom: $FAST-Typography-defnlist-margin-bottom;

        dt {
            margin-bottom: $FAST-Typography-defnlist-term-margin-bottom;
            font-weight: $FAST-Typography-defnlist-term-weight;
        }
    }

    blockquote {
        margin: 0 0 $FAST-Typography-paragraph-margin-bottom;
        padding: $FAST-Typography-blockquote-padding;
        border-left: $FAST-Typography-blockquote-border;

        &, p {
            line-height: $FAST-Typography-paragraph-lineheight;
            color: $FAST-Typography-blockquote-color;
        }
    }

    cite {
        display: block;
        font-size: $FAST-Typography-cite-font-size;
        color: $FAST-Typography-cite-color;

        &:before {
            content: '\2014 \0020';
        }
    }

    abbr {
        color: $FAST-Color-body-font;
        cursor: help;
        border-bottom: $FAST-Typography-abbr-underline;
    }

    code {
        font-family: $FAST-Typography-code-font-family;
        font-weight: $FAST-Typography-code-font-weight;
        color: $FAST-Typography-code-color;
        background-color: $FAST-Typography-code-background;
        border: $FAST-Typography-code-border;
        padding: $FAST-Typography-code-padding;
    }

    kbd {
        padding: $FAST-Typography-keystroke-padding;
        margin: 0;
        background-color: $FAST-Typography-keystroke-background;
        color: $FAST-Typography-keystroke-color;
        font-family: $FAST-Typography-keystroke-font;

        @if FAST-has-value($FAST-Typography-keystroke-radius) {
            border-radius: $FAST-Typography-keystroke-radius;
        }
    }
}
