/****************************************************************************
    FAST - Basics
 ****************************************************************************/

/**
 *  Styles
 **/

@mixin FAST-Global-Basic() {
    .fast-mq {
        font-family: '#{FAST-bp-serialize($FAST-Util-Breakpoint-list)}';
    }

    // Styles Google Maps and MapQuest embeds properly
    // scss-lint:disable IdSelector
    #map_canvas,
    .map_canvas,
    .mqa-display {
        img,
        embed,
        object {
            max-width: none !important;
        }
    }

    .visible {
        display: block !important;
    }

    .hidden {
        display: none !important;
    }

    .switch-after {
        display: inline-block;
        @include FAST-switch-after();
    }

    .ib.ib {
        display: inline-block;
    }

    .tb.tb {
        display: table;

        > * {
            display: table-cell;
        }
    }

    .clearfix {
        @include FAST-clearfix();
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    @include FAST-breakpoint((small only)) {
        .hide-small {
            display: none;
        }
    }

    @include FAST-breakpoint(medium only) {
        .hide-medium {
            display: none;
        }
    }

    @include FAST-breakpoint(large only) {
        .hide-large {
            display: none;
        }
    }

    @include FAST-breakpoint(xlarge only) {
        .hide-xlarge {
            display: none;
        }
    }

    @include FAST-breakpoint(xxlarge only) {
        .hide-xxlarge {
            display: none;
        }
    }
}
