/** **************************************************************************
    AXA FAST - Typography Print
    ************************************************************************** */
// scss-lint:disable all

/**
 *  Local variables
 **/
$FAST-Typography-print-transparent-backgrounds: true !default;


/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin FAST-Typography-Print() {
    .show-for-print { display: none !important; }

    @media print {
        * {
            @if $FAST-Typography-print-transparent-backgrounds {
                background: transparent !important;
            }

            color: black !important; // Black prints faster: h5bp.com/s
            box-shadow: none !important;
            text-shadow: none !important;
        }

        .show-for-print { display: block !important; }
        .hide-for-print { display: none !important; }

        table.show-for-print { display: table !important; }
        thead.show-for-print { display: table-header-group !important; }
        tbody.show-for-print { display: table-row-group !important; }
        tr.show-for-print { display: table-row !important; }
        td.show-for-print { display: table-cell !important; }
        th.show-for-print { display: table-cell !important; }

        // Display the URL of a link after the text
        a[href^='http'], a[href^='http']:visited { text-decoration: underline;}
        a[href^='http']:after { content: ' (' attr(href) ')'; }

        // Don't display the URL for images or JavaScript/internal links
        .ir a:after, a[href^='javascript:']:after, a[href^='#']:after { content: ''; }

        // Display what an abbreviation stands for after the text
        abbr[title]:after { content: ' (' attr(title) ')'; }

        pre, blockquote {
            border: 1px solid $FAST-Color-dark-gray;
            page-break-inside: avoid;
        }

        thead { display: table-header-group; }

        tr, img { page-break-inside: avoid; }

        img { max-width: 100% !important; }

        @page { margin: 0.5cm; }

        p, h2, h3 {
            orphans: 3;
            widows: 3;
        }

        h2, h3 { page-break-after: avoid; }
    }
}
