/****************************************************************************
    SEL - Service
 ****************************************************************************/

/**
 *  Local variables
 **/
$SEL-Service-user-image-size: 5rem;
$SEL-Service-type1-color: $FAST-Color-primary;
$SEL-Service-type2-color: $FAST-Color-secondary;
$SEL-Service-border-width: .25rem;


/**
 *  Functions
 **/



/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin SEL-Service() {
    .service-list {
        .service {
            width: 100%;
            margin: 0 0 1rem 0;

            header {
                $header-padding-top: ($SEL-Service-user-image-size / 2) + 1rem;

                margin-top: -1rem;
                position: relative;
                padding-top: $header-padding-top;
                text-align: center;

                &:after {
                    content: "";
                    width: 50%;
                    height: 1px;
                    margin: 1rem auto;
                    display: block;
                }

                &:before {
                    content: "";
                    display: block;
                    height: $SEL-Service-border-width;
                    margin: -$header-padding-top -1rem $header-padding-top -1rem;
                }
            }

            .picture + header {
                margin-top: 0;
            }
        }

        .service-content {
            padding: 1rem;
            background: #fff;
            border-radius: 4px;
            @include FAST-Deco-shadow-1();
            position: relative;
            transition: box-shadow .3s, transform .3s;
            transition-delay: .2s;

            &:hover {
                @include FAST-Deco-shadow-7();
                transform: scale(1.01);
            }
        }

        .picture {
            margin: -1rem -1rem 0;

            img {
                min-width: 100%;
            }
        }

        .service-author-image {
            position: absolute;
            width: $SEL-Service-user-image-size;
            height: $SEL-Service-user-image-size;
            top: -($SEL-Service-user-image-size / 3);
            left: 50%;
            margin-left: -($SEL-Service-user-image-size / 2);
        }

        .service-title {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }

        .meta {
            text-align: center;
            font-size: FAST-rem-calc(14px);

            &:before {
                content: "";
                width: 50%;
                height: 1px;
                margin: 1rem auto;
                display: block;
            }
        }

        .body {
            max-height: 15.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            margin-bottom: 2rem;

            :last-child {
                margin-bottom: 0;
            }

            &:after {
                content: "";
                width: 100%;
                display: block;
                position: absolute;
                top: 13rem;
                left: 0;
                height: 2.5rem;
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.75) 50%, rgba(255,255,255,1) 100%);
            }
        }

        .actions {
            ul {
                list-style: none;
                padding: 0;
                margin: 2rem 0 -1rem 0;
                display: flex;
                border-top: 1px solid $FAST-Color-black-xxl;
                justify-content: flex-end;
                text-align: right;
            }

            li {
                display: inline-block;
            }

            a {
                display: block;
                width: 100%;
                text-align: center;
                padding: .3rem;
                border-radius: 3px;
                margin: .2rem;
                color: $FAST-Color-black-m;

                &:hover {
                    background: $FAST-Color-primary;
                    color: $FAST-Color-white;
                }

                .text {
                    display: none;
                }
            }
        }

        .service-type-1 {
            header:before {
                background-color: $SEL-Service-type1-color;
            }

            .service-title a {
                color: $SEL-Service-type1-color;
            }

            header:after {
                background-color: $SEL-Service-type1-color;
            }

            .meta:before {
                background-color: $SEL-Service-type1-color;
            }
        }

        .service-type-2 {
            header:before {
                background-color: $SEL-Service-type2-color;
            }

            .service-title a {
                color: $SEL-Service-type2-color;
            }

            header:after {
                background-color: $SEL-Service-type2-color;
            }

            .meta:before {
                background-color: $SEL-Service-type2-color;
            }
        }

        .icon {
            opacity: .85;
        }

        @include FAST-breakpoint('medium') {
            .service {
                width: 50%;
            }
        }

        @include FAST-breakpoint('large') {
            .service {
                width: 33.3333%;
            }
        }

        @include FAST-breakpoint('xlarge') {
            .service {
                width: 25%;
            }
        }
    }

    .service-author {
        float: right;
        clear: left;
    }

    .service-author-image {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        border: 2px solid $FAST-Color-white-xl;
        @include FAST-Deco-shadow-1();
        margin-left: .5rem;
    }

    .service-meta {
        font-size: FAST-rem-calc(16px);
        text-align: center;
        margin-bottom: 2rem;

        .type, .domain {
            display: inline-block;
            margin-right: 1rem;
        }
        .category {
            display: block;
        }
    }

    .service-content-image {
        border: 3px solid #fff;
        @include FAST-Deco-shadow-1;
    }

    .service-content-body {
        @include FAST-Typography-lead();
    }

    .service-print-heading {
        display: block;
        margin-bottom: .5rem;
    }

    @include FAST-breakpoint('medium') {
        .service-list {
            .service {
                width: 50%;
            }
        }

        .service-content-image {
            float: right;
            margin: 0 0 1rem 1rem;
            max-width: 50%;
        }
    }

    @include FAST-breakpoint('large') {
        .service-list {
            .service {
                width: 33.3333%;
            }
        }
    }

    @include FAST-breakpoint('xlarge') {
        .service-list {
            .service {
                width: 25%;
            }
        }
    }
}