/****************************************************************************
    SEL - Faq
 ****************************************************************************/

/**
 *  Local variables
 **/
$FAST-Faq-border: 1px solid $FAST-Color-black-xl;

/**
 *  Functions
 **/



/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin SEL-Faq() {
    .faq-list {
        ul.faq-group {
            list-style: none;
            padding: 0 .25rem;
            margin: 0 0 3rem 0;
            border: $FAST-Faq-border;
            border-radius: 3px;

            :last-child {
                border-bottom: none;
            }
        }

        .faq-item {
            border-bottom: $FAST-Faq-border;
        }

        .question {
            @include FAST-Typography-lead;
            cursor: pointer;
            padding: .25rem .75rem;

            a {
                float: right;
                color: $FAST-Color-primary;

                &:hover {
                    color: $FAST-Color-secondary;
                }
            }
        }

        .answer {
            padding: .25rem 0 1rem 1rem;

            p {
                margin-bottom: .5rem;
            }
        }
    }
}
