/****************************************************************************
    SEL - Icon
 ****************************************************************************/

/**
 *  Local variables
 **/



/**
 *  Functions
 **/



/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin SEL-Icon() {
    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        fill: currentColor;
    }
}