/****************************************************************************
    SEL - Icon
 ****************************************************************************/

/**
 *  Local variables
 **/



/**
 *  Functions
 **/



/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin SEL-Icon() {
    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        fill: currentColor;
        line-height: 1em;
        vertical-align: -.15rem;
    }

    a svg {
        color: inherit;
    }
}