/****************************************************************************
    SEL - Faq
 ****************************************************************************/

/**
 *  Local variables
 **/


/**
 *  Functions
 **/



/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin SEL-Faq() {
    .faq-list {
        ul {
            list-style: none;
            padding: 0 0 1rem 0;
            margin: 0 0 2rem 0;

            &:last-child {
                border-bottom: none;
            }
        }

        .question {
            @include FAST-Typography-lead;
            cursor: pointer;
            border-bottom: 1px solid $FAST-Color-black-xl;
        }

        .answer {
            padding: .5rem 0 1rem 1rem;

            p {
                margin-bottom: .5rem;
            }
        }

        h2 {
            text-align: center;
        }
    }
}
