@mixin SEL-Article() {
  .article-list {
    article {
      max-width: 60rem;
      margin: 2rem auto;

      &:after {
        content: "";
        width: 50%;
        margin: 2rem auto 0;
        display: block;
        height: FAST-rem-calc(1px);
        background: $FAST-Color-black-xl;
      }

      &.unpublished {
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 1rem 1rem 0;
        background: #ddd;
        opacity: .8;

        .intro:after {
          background: linear-gradient(to bottom, rgba(#ddd,0) 0%, rgba(#ddd,.75) 50%, rgba(#ddd,1) 100%);
        }
      }
    }

    header {
      position: relative;
      margin-bottom: 2rem;

      &:after {
        content: none;
      }
    }

    .head-picture {
      border: 2px solid $FAST-Color-white-xl;
      @include FAST-Deco-shadow-2();
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }

    h1 {
      margin: 0;
    }

    @include FAST-breakpoint(medium) {
      article {
        margin: 4rem auto;
      }

      header {
        margin-bottom: 3rem;
      }

      h1 {
        font-size: 2rem;
      }

      .head-picture {
        margin-bottom: 0;

        + .head-text {
          position: absolute;
          bottom: 1rem;
          left: .5rem;
          right: .5rem;

          h1 a, h1 small, .meta {
            color: #fff;
            background: rgba(#000, .75);
            display: inline-block;
            padding: 0 .5rem;
          }
        }
      }
    }

    @include FAST-breakpoint(large) {
      .head-picture {
        + .head-text {
          left: 1.5rem;
          right: 1.5rem;
          bottom: 2rem;
        }
      }
    }

    .meta {
      font-size: .875rem;
      color: rgba(#000, .5);
    }

    .intro {
      min-height: 4rem;
      max-height: 30rem;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;

      &:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2.5rem;
        background: linear-gradient(to bottom, rgba($FAST-Color-body-background,0) 0%, rgba($FAST-Color-body-background,.75) 50%, rgba($FAST-Color-body-background,1) 100%);
      }
    }

    .actions {
      margin: 4rem auto 0;
      text-align: center;
    }
  }

  .article-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 2rem !important;
    padding-top: 12rem !important;

    h1 {
      font-size: 2rem;
    }

    .meta {
      font-size: .875rem;
      opacity: .8;
    }

    &.has-picture {
      h1, .meta {
        color: #fff;
        background: rgba(#000, .75);
        padding: 0 .5rem;
        display: inline-block;
        margin: 0;
      }

      .meta {
        color: rgba(#fff, .75);
        opacity: 1;
      }

      .btn {
        margin: 0 0 0 1rem;
        vertical-align: bottom;
        color: #fff;
        background: rgba(#000, .75);
        opacity: 1;
        border-radius: 50%;
        width: 2.1rem;
        height: 2.1rem;
        padding: .5rem 0 .6rem;
        text-align: center;
      }
    }
  }

  .article-show__content {
    max-width: 60rem;
    margin: 0 auto;
  }

  .article-show__documents {
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 4rem;
    overflow-x: auto;

    td {
      border: none;
    }

    .filesize {
      text-align: right;
    }

    .fileicon {
      width: 3rem;
      text-align: center;
    }
  }
}