/****************************************************************************
    SEL - Header
 ****************************************************************************/

/**
 *  Local variables
 **/
$SEL-Header-margin-bottom: 4rem;
$SEL-Header-bg-color: $FAST-Color-primary;


/**
 *  Functions
 **/



/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin SEL-Header() {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background: rgba($SEL-Header-bg-color, .9);
        margin-bottom: $SEL-Header-margin-bottom;

        .wrapper {
            /*@include FAST-Deco-shadow(1);
            padding: .75rem 1rem;
            border-radius: 5px;
            background: rgba(255,255,255,.9);*/
            margin: 1rem auto;
            display: flex;
            align-items: center;
            /* TODO: backdrop-filter: blur(10px); // This is not yet supported */
        }

        .logo {
            flex-grow: 1;

            img {
                max-width: 14rem;
                margin-top: .25rem;
                margin-bottom: -.25rem;
            }
        }

        .menu {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin: 0;
                position: relative;

                &:hover {
                    ul {
                        display: block;
                    }
                }
            }

            ul {
                display: none;
                position: absolute;
                list-style: none;
                padding: 0;
                margin: 0;
                right: 0;
                top: 100%;
                background: #fff;
                min-width: 10em;
                padding: .25em;
                @include FAST-Deco-shadow-2();

                a {
                    color: $FAST-Color-primary;
                }

                li:hover > a, a:hover {
                    color: #fff;
                    background: $FAST-Color-primary;
                }
            }

            a {
                color: FAST-foreground($SEL-Header-bg-color);
                display: inline-block;
                width: 100%;
                padding: .25rem 1rem;
                border-radius: .15rem;
            }

            li:hover > a, a:hover {
                background: FAST-foreground($SEL-Header-bg-color);
                color: FAST-foreground(FAST-foreground($SEL-Header-bg-color), $SEL-Header-bg-color);
            }
        }
    }
}