/****************************************************************************
    SEL - Wrapper
 ****************************************************************************/

/**
 *  Local variables
 **/



/**
 *  Functions
 **/



/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin SEL-Wrapper() {
    .wrapper {
        margin: 0 auto;
        padding: 0 1rem;
        width: 96%;

        @include FAST-breakpoint(medium) {
            width: FAST-bp-to-em(map_get($FAST-Util-Breakpoint-list, medium)) - 1em;
        }

        @include FAST-breakpoint(large) {
            width: FAST-bp-to-em(map_get($FAST-Util-Breakpoint-list, large)) - 2em;
        }

        @include FAST-breakpoint(xlarge) {
            width: FAST-bp-to-em(map_get($FAST-Util-Breakpoint-list, xlarge)) - 4em;
        }

        @include FAST-breakpoint(xxlarge) {
            width: FAST-bp-to-em(map_get($FAST-Util-Breakpoint-list, xxlarge)) - 4em;
        }
    }

    .grid {
        margin: 0 (-1rem);

        @include FAST-clearfix();
    }

    .grid-item {
        padding: 1rem;
        float: left;
    }

    .grid-item-3-4 {
        width: 75%;
    }

    .grid-item-2-4 {
        width: 50%;
    }

    .grid-item-1-4 {
        width: 50%;
    }

    .grid-item-1-3 {
        width: 33.3333%;
    }

    .grid-item-2-3 {
        width: 66.6666%;
    }

    .grid-item-center {
        margin: 0 auto;
    }
}