/****************************************************************************
    SEL - Section
 ****************************************************************************/

/**
 *  Local variables
 **/
$SEL-Section-angle-size: 3rem;


/**
 *  Functions
 **/



/**
 *  Mixins
 **/



/**
 *  Placeholders
 **/



/**
 *  Styles
 **/
@mixin SEL-Section() {
    .angle-intro {
        background-color: $FAST-Color-primary;
        color: FAST-foreground($FAST-Color-primary);

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{$SEL-Section-angle-size}), 0 100%);

        h1 {
            color: $FAST-Color-white-xxl;

            small {
                color: $FAST-Color-white-xxl;
            }
        }

        &:first-child {
            margin-top: -$SEL-Content-top-margin;
            padding-top: $SEL-Content-top-margin;
            padding-bottom: 4rem;
        }
    }

    .angle-reverse {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - #{$SEL-Section-angle-size}));
    }

    section, .page-header {
        padding: 4rem 0;
        @include FAST-clearfix();
    }

    .page-header {

        .delete-form, .btn {
            display: inline-block;
            vertical-align: middle;
        }

        .btn-delete, .btn {
            @include FAST-Button-hollow-style(FAST-foreground($FAST-Color-primary));
            border: none;
            opacity: .75;

            &:hover {
                opacity: 1;
            }
        }

        &.inline-heading h1 {
            display: inline-block;
        }
    }

    section header {
        p {
            font-size: $FAST-Typography-lead-font-size;
            font-weight: 300;
        }

        &:after {
            content: "";
            width: 20%;
            margin: 2rem auto;
            display: block;
            height: FAST-rem-calc(2px);
            background: $FAST-Color-primary;
        }
    }

    .user-profile {
        text-align: center;
    }

    .user-picture {
        position: relative;

        img {
            width: 150px;
            height: 150px;
            position: absolute;
            right: 0;
            top: -9rem;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid $FAST-Color-white-xxl;
            @include FAST-Deco-shadow-1();
        }
    }

    @include FAST-breakpoint('large') {
        .page-header.has-block {
            h1 {
                max-width: 50%;
                float: left;
            }

            .header-block {
                width: 50%;
                float: right;
            }
        }
    }
}