{% if services  is empty %}
    <p class="text-center lead notfound">La recherche que vous avez effectuée n'a retourné aucun résultat.</p>
{% else %}
    <div class="grid masonry">
        {% for service in services %}
            {% include 'SelServiceBundle::serviceItem.html.twig' with {'service': service} %}
        {% endfor %}
    </div>
{% endif %}
{{ knp_pagination_render(services) }}