/****************************************************************************
    FAST - Fast Application Styling Tools
 ****************************************************************************/

/**
 *  Local variables
 **/



/**
 *  Imports
 **/
@import "modules/FAST-Util";
@import "modules/FAST-Global-Config";
@import "modules/FAST-Global-Config-Color";
@import "modules/FAST-Global-Normalize";
@import "modules/FAST-Typography";
@import "modules/FAST-Global-Basic";
@import "modules/FAST-Button";
@import "modules/FAST-Form";

@import "modules/FAST-Deco.scss";
@import "modules/FAST-Card.scss";

@import "modules/SEL-Wrapper";
@import "modules/SEL-Type";
@import "modules/SEL-Icon";
@import "modules/SEL-Header";
@import "modules/SEL-Footer";
@import "modules/SEL-Add-Tool";
@import "modules/SEL-Table";
@import "modules/SEL-Section";
@import "modules/SEL-Block-Filter";
@import "modules/SEL-Pagination";
@import "modules/SEL-Service";

$FAST-Global-flexbox: true !global;

$SEL-Content-top-margin: 8rem !default;

@include FAST-Global-Normalize();
@include FAST-Typography();
@include FAST-Global-Basic();
@include FAST-Button();
@include FAST-Form();
@include SEL-Wrapper();
@include SEL-Type();
@include SEL-Icon();
@include SEL-Header();
@include SEL-Footer();
@include SEL-Add-Tool();
@include SEL-Table();
@include SEL-Section();
@include SEL-Block-Filter();
@include SEL-Pagination();
@include SEL-Service();

.main-content {
    margin-top: $SEL-Content-top-margin;
}
