{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}

{% block title %}Statistiques{% endblock %}

{% block header %}
    <header class="page-header has-block inline-heading angle-intro angle-reverse">
        <div class="wrapper">
            <h1>Statistiques</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section>
        <div class="wrapper">
            <div class="grid grid-v-align-large-up">
                <div class="grid-item-large-up grid-item-1-4-large-up text-center">
                    content left
                </div>

                <div class="grid-item-large-up grid-item-3-4-large-up">
                    <div id="vis"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="angle-top">
        <div class="wrapper">
            <h2>Section 2</h2>

            <div class="grid grid-v-align-large-up">
                <div class="grid-item-large-up grid-item-2-4-large-up text-center">
                    Content left
                </div>

                <div class="grid-item-large-up grid-item-2-4-large-up">
                    Content right
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        /*
         http://www.bezanilla-solar.cl/libs/jscripts/DevExpressChartJS/Demos/demos/Charts/Bar%20Series/Side-by-Side%20Stacked%20Bar.html?cachebusterTimestamp=1492599355073
         */
        var dataSource = [
            { state: "USA", maleyoung: 29.956, malemiddle: 90.354, maleolder: 14.472, femaleyoung: 28.597, femalemiddle: 91.827, femaleolder: 20.362 },
            { state: "Brazil", maleyoung: 25.607, malemiddle: 55.793, maleolder: 3.727, femaleyoung: 24.67, femalemiddle: 57.598, femaleolder: 5.462 },
            { state: "Russia", maleyoung: 13.493, malemiddle: 48.983, maleolder: 5.802, femaleyoung: 12.971, femalemiddle: 52.14, femaleolder: 12.61 },
            { state: "Japan", maleyoung: 9.575, malemiddle: 43.363, maleolder: 9.024, femaleyoung: 9.105, femalemiddle: 42.98, femaleolder: 12.501 },
            { state: "Mexico", maleyoung: 17.306, malemiddle: 30.223, maleolder: 1.927, femaleyoung: 16.632, femalemiddle: 31.868, femaleolder: 2.391 },
            { state: "Germany", maleyoung: 6.679, malemiddle: 28.638, maleolder: 5.133, femaleyoung: 6.333, femalemiddle: 27.693, femaleolder: 8.318 },
            { state: "United Kindom", maleyoung: 5.816, malemiddle: 19.622, maleolder: 3.864, femaleyoung: 5.519, femalemiddle: 19.228, femaleolder: 5.459 }
        ];

        $("#chartContainer").dxChart({
            dataSource: dataSource,
            commonSeriesSettings: {
                argumentField: "state",
                type: "stackedBar"
            },
            series: [
                { valueField: "maleyoung", name: "Male: 0-14", stack: "male" },
                { valueField: "malemiddle", name: "Male: 15-64", stack: "male" },
                { valueField: "maleolder", name: "Male: 65 and older", stack: "male" },
                { valueField: "femaleyoung", name: "Female: 0-14", stack: "female" },
                { valueField: "femalemiddle", name: "Female: 15-64", stack: "female" },
                { valueField: "femaleolder", name: "Female: 65 and older", stack: "female" }
            ],
            legend: {
                horizontalAlignment: "right",
                position: "inside",
                border: { visible: true }
            },
            valueAxis: {
                title: {
                    text: "Populations, millions"
                }
            },
            title: "Population: Age Structure",
            tooltip: {
                enabled: true
            }
        });

        /*
         http://www.bezanilla-solar.cl/libs/jscripts/DevExpressChartJS/Demos/demos/Charts/Line%20And%20Point%20Series/Spline.html?cachebusterTimestamp=1492599363779
         */
        var dataSource = [
            { year: 1997, smp: 263, mmp: 226, cnstl: 10, cluster: 1 },
            { year: 1999, smp: 169, mmp: 256, cnstl: 66, cluster: 7 },
            { year: 2001, smp: 57, mmp: 257, cnstl: 143, cluster: 43 },
            { year: 2003, smp: 0, mmp: 163, cnstl: 127, cluster: 210 },
            { year: 2005, smp: 0, mmp: 103, cnstl: 36, cluster: 361 },
            { year: 2007, smp: 0, mmp: 91, cnstl: 3, cluster: 406 }
        ];

        $("#chartContainer").dxChart({
            dataSource: dataSource,
            commonSeriesSettings: {
                type: "spline",
                argumentField: "year"
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            series: [
                { valueField: "smp", name: "SMP" },
                { valueField: "mmp", name: "MMP" },
                { valueField: "cnstl", name: "cnstl" },
                { valueField: "cluster", name: "Cluster" }
            ],
            tooltip:{
                enabled: true
            },
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
            title: "Architecture Share Over Time (Count)",
            commonPaneSettings: {
                border:{
                    visible: true,
                    bottom: false
                }
            }
        });

        /*
         http://www.bezanilla-solar.cl/libs/jscripts/DevExpressChartJS/Demos/demos/Charts/Advanced%20features/Multiple%20Series%20Selection.html?cachebusterTimestamp=1492599374655
         */
        var dataSource = [
            { year: 2006, IE7: 0.011 },
            { year: 2007, IE7: 0.192 },
            { year: 2008, IE7: 0.265 },
            { year: 2009, IE7: 0.213, IE8: 0.052 },
            { year: 2010, IE7: 0.091, IE8: 0.160 },
            { year: 2011, IE7: 0.053, IE8: 0.141, IE9: 0.031 },
            { year: 2012, IE7: 0.021, IE8: 0.088, IE9: 0.065, IE10: 0.001},
            { year: 2013, IE7: 0.008, IE8: 0.052, IE9: 0.039, IE10: 0.026}
        ];

        $("#chartContainer").dxChart({
            seriesSelectionMode: "multiple",
            dataSource: dataSource,
            commonSeriesSettings: {
                argumentField: "year",
                type: "stackedarea"
            },
            commonAxisSettings: {
                valueMarginsEnabled: false
            },
            argumentAxis: {
                type: "discrete"
            },
            valueAxis: {
                label: {
                    format: "percent",
                    precision: 2
                }
            },
            series: [
                { valueField: "IE7", name: "Internet Explorer 7" },
                { valueField: "IE8", name: "Internet Explorer 8" },
                { valueField: "IE9", name: "Internet Explorer 9" },
                { valueField: "IE10", name: "Internet Explorer 10" }
            ],
            title: {
                text: "Internet Explorer Statistics"
            },
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
            seriesClick: function(series) {
                series.isSelected() ? series.clearSelection() : series.select();
            }
        });

    </script>
{% endblock %}